<div class="content-wrapper">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listes de mes voitures</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Immatriculation</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let voiture of voitures">
                <td (click)="deposer(voiture._id,voiture.statut)">{{ voiture.marque }}</td>
                <td (click)="deposer(voiture._id,voiture.statut)">{{ voiture.modele }}</td>
                <td (click)="deposer(voiture._id,voiture.statut)">{{ voiture.immatriculation }}</td>
                <span [ngSwitch]="voiture.statut">
                  <td (click)="deposer(voiture._id,voiture.statut)" *ngSwitchCase="'Disponible'">
                    <label class="badge badge-success">Disponible</label>
                  </td>
                  <td (click)="deposer(voiture._id,voiture.statut)" *ngSwitchCase="'Déposé'">
                    <label class="badge badge-warning">Déposé</label>
                  </td>
                  <td (click)="deposer(voiture._id,voiture.statut)" *ngSwitchCase="'Réparé'">
                    <label class="badge badge-info">Réparé</label>
                  </td>
                  <td (click)="deposer(voiture._id,voiture.statut)" *ngSwitchCase="'En réparation'">
                    <label class="badge badge-danger">En réparation</label>
                  </td>
                </span>
              </tr>
              <tr>
                <td (click)="ajouterVoiture()">
                  <button class="btn btn-primary">Ajouter</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
